.login-button {
    margin-right: 100px;
    /* Adjusted margin to move the button 10px to the left */
}

.header-buttons {
    display: flex;
    align-items: center;
    /* To align buttons vertically */
}

.header-buttons a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.login-button {
    margin-left: auto;
    /* Pushes the login button to the right */
}

.login-button button {
    background-color: #d32525;
    /* WhatsApp green color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://i.redd.it/yrnmg3lhi4m61.jpg);
    /* background-color: #f0f2f5; */
    /* WhatsApp background color */
    margin: 0;
    padding: 0;


}

header {
    background-color: #075e54;
    /* WhatsApp header background color */
    color: #fff;
    /* WhatsApp header text color */
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container3 {
    display: flex;
    align-items: center;
}

.container3 a {
    color: #fff;
    /* WhatsApp header link color */
    text-decoration: none;
    margin-right: 20px;
}

.container3 input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-right: 20px;
    background-color: #e1e1e1;
    /* WhatsApp search input background color */
}

.chat-container {
    width: 820px;
    margin: 220px;
    /* Adjusted margin */
    border: 1px solid #a1a0a0;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;

}

.chat-messages {
    max-height: 550px;
    overflow-y: auto;
    padding: 200px;
    /* Adjusted padding */
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f2f5;
    /* WhatsApp chat input background color */
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #a1a0a0;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-input button {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

footer {
    background-color: #075e54;
    /* WhatsApp footer background color */
    color: #fff;
    /* WhatsApp footer text color */
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer-container {
    text-align: center;
}