html {
    margin: 1%;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1c9d69;
}




.border {
    /* display: flex; */
    /* align-items: center; */
    padding: 10px;


    /* WhatsApp chat input background color */
}


.container {
    display: flex;
    height: 100%;
}


.friends-list {
    flex: 2;
    background-color: #fafafa;
    overflow-y: auto;
    float: left;
    border-style: dashed;
    border: 1px solid rgb(175, 175, 175);


}


.friends-list ul {
    list-style-type: none;
    padding: 18px;
    margin-top: -18px;
    margin-left: -18px;
}


li {
    border-style: dashed;
    border: 1px solid rgb(213, 213, 213);
    width: 110%;


}


li img {
    height: 10%;
    width: 10%;
    margin-top: 1%;
}

#image-input {
    display: none;
}


.message-table {
    flex: 4;
    padding: 20px;
    overflow-y: auto;
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 100px;
    border-top: 40px solid #b8baba;
}




.image-label {
    margin-right: 15px;
}


#image-icon {
    width: 30px;
    height: 30px;
}


.message {
    margin-bottom: 20px;
}


.message-sender {
    font-weight: bold;
}


.message-content {
    margin-left: 10px;
}


.container3 input[type="text"] {
    width: 336px;
    padding: 10px;
    background-color: white;
    text-align: left;
    padding-left: 50px;
}


.round-input {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPcqnOlg-6b0OuT2vHEeyITwpKEcQRo84iw&usqp=CAU);
    background-size: 30px;
    background-position: 10px;
    background-repeat: no-repeat;
    /* padding-left: 40px;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: right; */
}


.round-input {
    width: 200px;
    /* Adjust as needed */
    padding: 10px;
    margin-left: auto;
    /* Adjust as needed */
    /* border-radius: 20px; */
    /* Adjust as needed */
    text-align: center;
    /* Center aligns the placeholder text */


}




.chat-messages {
    max-height: 550px;
    overflow-y: auto;
    padding: 280px;
    position: fixed;
    /* Adjusted padding */
}


.chat-input {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #e6e6e7;
    position: fixed;
    bottom: 0;
    width: 770px;
    margin-bottom: 15px;
    /* WhatsApp chat input background color */
}




.chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #a1a0a0;
    border-radius: 20px;
    margin-right: 10px;
}




.chat-input button {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}


#emoji-button {
    font-size: 15px;
    /* Adjust size as needed */
    margin-right: 10px;
    /* Adjust spacing */
}


img {
    width: 50px;
    height: 50px;
}



.logout-button {
    margin-right: 100px;
    /* Adjusted margin to move the button 10px to the left */
}




.logout-button {
    margin-left: auto;
    /* Pushes the login button to the right */
}


.logout-button button {
    background-color: #d32525;
    /* WhatsApp green color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    margin-top: 430px;
    margin-left: 10px;

}

.message-sender {
    color: green;
    margin-bottom: 10px;

}

.message-content {
    border: none;
    /* padding: 10px 20px; */
    border-radius: 20px;
    background-color: #1c9d69;
    margin-bottom: 10px;
}